<h2>Create New Landmark</h2>

<form action="/landmarks" method="post">
<p>Landmark Name: <input type="text" name="landmark[name]" id="landmark_name" placeholder="landmark name"></p>
<br>
<p>Year: <input type="text" name="landmark[year_completed]" id="landmark_year_completed" placeholder="year"></p>

<!-- LANDMARK has YEAR,  -->

  <br></br>
  <input type="submit" value="Create New Landmark">
</form>





<br></br>
<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
